<app-navbar></app-navbar>

<app-parallax-heading heading="Destination{{
    sharedService.destination !== null
      ? ' | ' + sharedService.destination!.place
      : 's'
  }}" bgImage="{{
    sharedService.destination
      ? sharedService.destination!.image
      : '/assets/gotours/imgs/agency.jpg'
  }}"></app-parallax-heading>

<div *ngIf="sharedService.destination === null" class="container my-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Find Your Dream Destination!</h1>
    <p class="lead">
      Explore the world's most beautiful destinations with us. Select a
      destination to start your journey.
    </p>
    <hr class="my-4" />
    <p>
      Choose from a wide range of tours and travel packages to make your
      vacation memorable.
    </p>
    <a class="btn btn-primary btn-lg" (click)="openModal()">Select a Destination</a>
  </div>
</div>

<div *ngIf="sharedService.destination !== null" class="container">
  <div class="destination-header d-flex justify-content-end align-items-center bg-light p-3 my-2">
    <h5 class="mb-0 me-3">
      Destination:
      <span class="text-primary">{{ sharedService.destination!.place }}</span>
    </h5>
    <button class="btn btn-outline-info" (click)="openModal()">
      Change Destination
    </button>
  </div>

  <h3 class="destination-description text-center">{{ sharedService.destination!.description }}</h3>

  <div class="destination-info mt-5">
    <h5>Discover {{ sharedService.destination!.place }}'s Charms</h5>
    <p><span class="fw-bold">Charm 1:</span> {{ sharedService.destination!.description1 }}</p>
    <p><span class="fw-bold">Charm 2:</span> {{ sharedService.destination!.description2 }}</p>
    <p><span class="fw-bold">Charm 3:</span> {{ sharedService.destination!.description3 }}</p>
  </div>

  <div class="dream-adventures-services mt-5">
    <h5>Dream Adventures Services</h5>
    <p>{{ sharedService.destination!.withus }}</p>
  </div>

  <div class="whatsapp-inquire mt-5">
    <h5>Inquire Through WhatsApp: Begin Your {{ sharedService.destination!.place }} Adventure</h5>
    <p>
      Ready to explore the innovation and culture of {{ sharedService.destination!.place }} with Dream
      Adventures Services? Connect with us on WhatsApp to learn more about our exclusive packages, accommodations, and
      travel arrangements. Let us guide
      you towards an unforgettable tech and culture adventure that aligns with
      your interests. Your journey into the Silicon Valley of India starts with a
      message – we’re here to make your travel dreams come true!
    </p>
  </div>

  <div class="row my-5 gy-3">
    <div class="col-md-6 d-flex justify-content-center">
      <a class="btn btn-outline-primary btn-book-now" href="{{waBook(sharedService.destination!.place)}}">Book Now</a>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <a class="btn btn-outline-primary btn-request-callback" href="{{waCall(sharedService.destination!.place)}}">Request A Call Back</a>
    </div>
</div>

</div>

<app-destination-modal></app-destination-modal>

<app-footer></app-footer>