<div class="comingsoon">
    <!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">
      <h1>Dream Adventures</h1>
      <h2>
        We're working hard to improve our website and we'll ready to launch after
      </h2>
      <div class="countdown d-flex justify-content-center">
        <div>
          <h3>{{days}}</h3>
          <h4>Days</h4>
        </div>
        <div>
          <h3>{{hours}}</h3>
          <h4>Hours</h4>
        </div>
        <div>
          <h3>{{minutes}}</h3>
          <h4>Minutes</h4>
        </div>
        <div>
          <h3>{{seconds}}</h3>
          <h4>Seconds</h4>
        </div>
      </div>
  
  
    </div>
  </header>
  <!-- End #header -->
  

  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Dream Adventures</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Nexrise</a>
      </div>
    </div>
  </footer>
  <!-- End #footer -->
  
</div>