<div *ngIf="sharedService.isBookFormModalVisible" class="modal-backdrop fade show"></div>
<div *ngIf="sharedService.isBookFormModalVisible" class="modal d-block">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Book Now!</h5>
          <button type="button" class="btn-close"  (click)="closeModal()">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div *ngIf="!isSubmitted" class="modal-body">
          <form id="captainF" [formGroup]="sharedService.bookForm" (ngSubmit)="onSubmit()">
            <label for="name" class="form-label mt-3">Name:</label>
            <input id="name" type="text" class="form-control" placeholder="Enter Name" formControlName="name"/>
            <div *ngIf="sharedService.bookForm.get('name')?.invalid && sharedService.bookForm.get('name')?.touched" class="text-danger">
              Name is required.
            </div>
            <label for="number" class="form-label mt-3">Mobile Number:</label>
            <input id="number" type="text" class="form-control" placeholder="Enter Valid Mobile Number" formControlName="mobile"/>
            <div *ngIf="sharedService.bookForm.get('mobile')?.invalid && sharedService.bookForm.get('mobile')?.touched" class="text-danger">
              <div *ngIf="sharedService.bookForm.get('mobile')?.errors?.['required']">Mobile Number is required.</div>
              <div *ngIf="sharedService.bookForm.get('mobile')?.errors?.['pattern']">Mobile Number must be exactly 10 digits.</div>
            </div>
          </form>
        </div>
        <div *ngIf="isSubmitted" class="modal-body">
          <div class="text-center">Thank you for your booking. We will get back to you shortly.</div>
        </div>
        <div class="modal-footer">
          <button *ngIf="!isSubmitted" type="submit" form="captainF" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
