<div class="video-background">
    <video #backgroundVideo autoplay muted loop id="background-video">
        <source src="/assets/gotours/imgs/header_animated.mp4" type="video/mp4">
        <img src="/assets/gotours/imgs/header.jpg" alt="Background Image">
    </video>
    <div class="background-content">
      <div class="container">
        <div>
          <h1><span>Dream</span><br />Adventure Services</h1>
          <p>
            <span class="text-capitalize"
              >Welcome to our world of exceptional holidays and timeless travels! </span
            >We are a dedicated team passionate about curating unforgettable
            experiences that turn your vacations into cherished memories.
          </p>
          <button>
            <a href="{{ waBook() }}" class="text-uppercase">book now</a>
          </button>
        </div>
      </div>
    </div>
  </div>