
<app-navbar></app-navbar>

<app-parallax-heading heading="Contact Us" bgImage="/assets/gotours/imgs/agency.jpg"></app-parallax-heading>
<!-- <section>
    <div style="height: 600px;background-image: url(https://cdn.bootstrapstudio.io/placeholders/1400x800.png);background-position: center;background-size: cover;">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div style="max-width: 350px;">
                        <h1 class="text-uppercase fw-bold">Biben dum<br />fringi dictum, augue purus</h1>
                        <p class="my-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a><a class="btn btn-outline-primary btn-lg" role="button" href="#">Button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center">
            <app-price-card bgImage="/assets/gotours/imgs/card-nature-house.jpg" heading="21 Days Package" price="$ 3,99,000/-"></app-price-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center">
            <app-price-card bgImage="/assets/gotours/imgs/card-nature-phone.jpg" heading="30 Days Package" price="$ 4,99,000/-"></app-price-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center">
            <app-price-card bgImage="/assets/gotours/imgs/card-scenery-norway.jpg" heading="70 Days Package" price="$ 7,99,000/-"></app-price-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center">
            <app-price-card bgImage="/assets/gotours/imgs/card-nature-house.jpg" heading="99 Days Package" price="$ 11,00,000/-"></app-price-card>
        </div>
    </div>
</div>

<app-book-modal></app-book-modal>


<div class="about-us" id="about">
    <div class="small-container">
        <h2 class="text-center">Winter <span>Holiday</span></h2>
        <p class="text-center">as opposed to using 'Content here, content here', making it look lik</p>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 text-center">
                        <div class="item">
                            <img src="assets/gotours/imgs/img2.jpg">
                            <h5 class="text-uppercase">Restaurants</h5>
                        </div>
                        <div class="item">
                            <img src="assets/gotours/imgs/img1.jpg">
                            <h5 class="text-uppercase">where to stay</h5>
                        </div>
                        <div class="item">
                            <img src="assets/gotours/imgs/img4.jpg">
                            <div>
                                <h5 class="text-uppercase">Sightseeing</h5>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/gotours/imgs/img3.jpg">
                            <h5 class="text-uppercase">shops and boutiques</h5>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 text-right">
                        <h4 class="text-uppercase">Engoy <span>holiday</span></h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like</p>
                        <button class="text-center"><a href="#" class="text-capitalize">book now</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="first"></div>
        <div class="second"></div>
    </div>
</div>

<app-footer></app-footer>