.logo {
    /* background-color: rgb(255 255 255 / 22%);
    box-shadow: 0px 0px 6px 5px rgb(255 255 255 / 25%); */
    background-color: rgb(125 125 125 / 31%);
    box-shadow: 0px 0px 6px 5px rgb(125 125 125 / 25%);
    border-radius: 20px;
}