<app-navbar></app-navbar>

<app-parallax-heading heading="Gallery" bgImage="/assets/gotours/imgs/agency.jpg"></app-parallax-heading>

<div class="container">
    <div class="my-3">
        <h3>Gallery</h3>
    </div>
    <div class="row gallery">
        <div class="col-md-4 mb-4">
            <img src="/assets/gotours/imgs/img1.jpg" class="img-fluid rounded" alt="Image 1">
        </div>
        <div class="col-md-4 mb-4">
            <img src="/assets/gotours/imgs/img2.jpg" class="img-fluid rounded" alt="Image 2">
        </div>
        <div class="col-md-4 mb-4">
            <img src="/assets/gotours/imgs/img3.jpg" class="img-fluid rounded" alt="Image 3">
        </div>
        <!-- Add more image columns as needed -->
    </div>
</div>

<app-footer></app-footer>