<footer>
    <div class="container">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="item">
                    <h4 class="text-uppercase">Contact us</h4>
                    <p class="address">
                        Sigma Tech Park, <br>
                        Whitefield Main Rd,<br>
                        Varthur Kodi, Palm Meadows,<br>
                        Bengaluru, Karnataka 560066
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="item">
                    <h4 class="text-uppercase">additional links</h4>
                    <ul>
                        <li><a routerLink="/about">About us</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">News</a></li>
                        <li><a routerLink="/contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-12">
                <div class="item">
                    <h4 class="text-uppercase">newsletter</h4>
                    <form>
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <p>Copyright 2019  Design by <a href="#">Nexrise</a></p>
    </div>
</footer>